fastapi
SQLAlchemy
mysql-connector-python
passlib
uvicorn
python-jose
pydantic
python-multipart
bcrypt
alembic
psycopg2-binary
python-dotenv 
SpaCy
NLTK
Transformers
TextBlob
ultralytics
#es_core_news_md
langdetect
sentencepiece
numpy 
pandas
scikit-learn
matplotlib
seaborn
plotly
notebook